benchmark-lib
*.csv
!spec2017/*.csv
!results/aarch64/m2/*.csv
!results/aarch64/x1/*.csv
!results/aarch64/axion/*.csv
build-lfi
build-lfi-stores
build-native
fdk-aac/fdk-aac/
libavc/libavc/
libexpat/expat
libexpat/libexpat/
libpng/image.png
libpng/libpng/
libtiff/libtiff/
libxml2/libxml2/
results/*
